
body{
    background-image: url(i/gif5.gif);
    background-repeat:no-repeat;
    background-size: cover; 
}
/*classe pour les cartes et les commandes */
.volets{
    height: 80%;
    width: 100%;
    
}


.case{
    
height: 120px;
width: 120px;
opacity:  0.8 ;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
margin-bottom: 2px;
}

#commandes{
    display: flex;
    justify-content: center;
}

#commandes{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.elementCommande {
    display: flex;
    
    justify-content: space-around;
}

.boiteScore{
    width: 300px;
    height: 30px;
    background: orange;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content:center;
    font-size:1em;
}

.eff {
    animation-name: effacement;
    animation-duration: 2s;       
    }
            
@keyframes effacement {
                0% {
                 opacity:1;
                }
                
                100% {
                    opacity:0;
                }
                    }

.eff2{
    opacity:0;
    } 

.titre {
    margin-top: 2em;
        }

.menu{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 3em;
    color:black;
    }   

.lien {
   color: black;
    }

.lien:hover {
    background-color: gold;
    color: red;
    border-top-left-radius: 10px;
            }
  
.opacite{
opacity:0.3;
        }

.rdj{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 128, .2);
    color: black;
    opacity:1;
    }

#baliseDeScore{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: blue;
    color: gold;
                }

a {
    margin-right: 5px;
    }